@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Antonio", sans-serif;
}

.landing-div {
  height: 100vh;
  background: url("./src/assets/img/pexels-photo-760710.jpg") no-repeat
    center/cover;
  padding-top: 10vh;
}

.landing-div h1 {
  text-align: center;
  width: 20%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 3rem;
}

.landing-container {
  padding-top: 20vh;
  display: flex;
  justify-content: center;
}

.landing-container a {
  display: inline-block;
  width: 200px;
  background-color: red;
  text-align: center;
  padding: 20px 10px;
  border-radius: 30px 30px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1.4rem;
  transition: all 0.4s linear;
}
.landing-container a:nth-of-type(1) {
  margin-right: 10px;
}

.landing-container a:hover {
  color: black;
  background-color: antiquewhite;
  cursor: pointer;
}
