.register-form {
  border: 1px solid black;
  width: 60%;
  margin: 10vh auto 0 auto;
  text-align: center;
}

.register-form article {
  padding-right: 5%;
  padding-left: 5%;
}
.register-form p {
  font-size: 1.4rem;
  width: 30%;
  text-align: left;
  padding-right: 5%;
}

.input {
  display: flex;
  align-items: baseline;
  height: 90px;
}

.input input {
  width: 70%;
  height: 1.4rem;
}

.register-form h2 {
  background-color: black;
  color: white;
}
