.error-message {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  border-radius: 25px;
  margin-bottom: 10px;
  padding: 0.5rem;
}

.alert {
  background-color: lightcoral;
}
