.month {
  table {
    border: 1px solid black;
    width: 60%;
    margin: 15vh auto 0 auto;
    td {
      width: 50%;
      text-align: center;
      border: 1px solid black;
      padding: 0.6rem;
    }
  }
}
