.month {
  table {
    border: 1px solid black;
    width: 60%;
    margin: 15vh auto 0 auto;
    td {
      width: 50%;
      text-align: center;
      border: 1px solid black;
      padding: 0.6rem;
    }
  }
  .download-button {
    text-align: center;
    margin-top: 20px;
    button {
      padding: 1rem;
      cursor: pointer;
      font-weight: bold;
      transition: all 0.3s linear;
    }
    button:hover {
      background-color: black;
      color: white;
    }
  }
}
