.register-login-form {
  width: 45vw;
  min-height: 65vh;
  margin: 0 auto;
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  input {
    width: 70%;
    padding: 15px;
    font-size: 1.3rem;
    border: 2px solid grey;
    opacity: 0.5;
    transition: all 0.2s linear;
    border-radius: 8px;
  }
  span {
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: underline;
  }
  .form-submit {
    background-image: linear-gradient(to right, blue, green);
    width: 50%;
    color: white;
    font-size: 1.3rem;
  }
  p {
    margin-top: 35px;
  }
}

.register-login-form input:hover {
  cursor: pointer;
  border: 2px solid black;
}

@media (max-width: 1000px) {
  .register-login-form {
    width: 65vw;
  }
}
